.supertaste-coupon{
    height: 105px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.supertaste-coupon .coupon-list{
	position: relative;
}
.supertaste-coupon .coupon-item{
	display: flex;
	justify-content: center;
}
.supertaste-coupon .coupon-item-wrap{
	display: flex;
	gap: 10px;
}
.supertaste-coupon .coupon-item-img{
	width: 40%;
	background-position: center;
	background-size: cover;
	flex-shrink: 0;
	border-radius: 4px;
}
.supertaste-coupon .coupon-item-wrap img{
	max-height: 100%;
}
.supertaste-coupon .coupon-item-wrap.no-img{
	align-items: center;
}
