.supertaste-coupon{
    height: 240px;
    margin-top: 10px;
    margin-bottom: 10px;
	font-family: "Noto Sans TC";
	font-size: 14px !important;
	line-height: 1.5;
}
.supertaste-coupon .coupon-list{
	position: relative;
}
.supertaste-coupon .coupon-item{
	display: flex;
	justify-content: center;
}
.supertaste-coupon .coupon-item-container{
	position: relative;
}
.supertaste-coupon .coupon-item-left{
	display: flex;
    gap: 10px;
    width: 61%;
    flex-shrink: 0;
	padding: 1%;
	align-items: center;
}
.supertaste-coupon .coupon-item-img-wrap{
	flex-shrink: 0;
    position: relative;
    overflow: hidden;
    width: 28.5%;
	padding: 15px 10px;
}
.supertaste-coupon .coupon-item-img-wrap .coupon-item-img{
    padding-top: 86%;
    background-position: center;
    background-size: cover;
	border-radius: 15px;
}
.supertaste-coupon .coupon-item-wrap img{
	max-height: 100%;
	vertical-align: middle;
}
.supertaste-coupon .coupon-item-wrap.no-img{
	align-items: center;
}
.supertaste-coupon .coupon-item-wrap .coupon-item-content,
.supertaste-coupon .coupon-item-wrap .coupon-item-cta{
	display: flex;
	align-items: center;
	padding: 10px;
}
.supertaste-coupon .coupon-item-wrap .coupon-item-cta{
	display: block;
	width: 35%;
	flex-shrink: 0;
}
.supertaste-coupon .coupon-item-content{
	position: relative;
	height: 100%;
	flex-grow: 1;
}
.supertaste-coupon .coupon-item-content .coupon-item-content-wrap{
	margin-left: 0;
}
.supertaste-coupon .cta-wrap{
	word-break: keep-all;
	text-align: center;
	align-self: flex-start;
}
.supertaste-coupon .coupon-item-bg{
	height: 100%;
	position: relative;
	z-index: 0;
}

.supertaste-coupon .coupon-item-bg img{
	max-height: 240px;
	width: 100%;
	max-width: 905px;
	line-height: 1;
}

.supertaste-coupon .coupon-item-title{
	font-family: "Noto Sans TC";
	font-size: 18px !important;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	line-height: 1.8 !important;
}

.supertaste-coupon .coupon-item-info{
	color: #777;
	font-family: "Noto Sans TC";
	font-size: 14px !important;
	line-height: 1.8 !important;
}

.supertaste-coupon .coupon-item-info .location-icon{
	margin-right: 4px;
}
.supertaste-coupon .coupon-item-info span{
	vertical-align: middle;
}

.supertaste-coupon .coupon-item-info-link{
	margin-top: 10px;
}
.supertaste-coupon .coupon-item-info-link a{
    display: inline-block;
	color: #777;
    font-family: "Noto Sans TC";
    font-size: 12px !important;
    text-decoration: none;
    line-height: 1.5 !important;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2px 4px;
}

.supertaste-coupon .coupon-item-info-link a:hover{
	color: #FFF;
	background-color: #ffc338;
	border-color: #ffc338;
}

.supertaste-coupon .cta-title{
	font-family: "Noto Sans TC";
	font-size: 14px !important;
	color: #000;
	font-weight: bold;
	line-height: 1.8 !important;
}

.supertaste-coupon .cta-info{
	font-family: "Noto Sans TC";
	font-size: 14px !important;
	color: #414141;
	line-height: 1.5 !important;
}

.supertaste-coupon .cta-btn a{
	display: inline-block;
	padding: 6px 24px;
	border-radius: 4px;
	background-color: #FFF;
	color: #000;
	font-family: "Noto Sans TC";
	font-size: 16px !important;
	text-decoration: none;
	box-shadow: 0 2px 12px -2px #E1A676;
	margin-top: 1em;
}

.supertaste-coupon .cta-btn a:hover{
	background-color: #000;
	color: #FFF;
}

.supertaste-coupon .coupon-item-logo{
	max-width: 40%;
	margin: auto;
}

.supertaste-coupon div{
	line-height: 1.4!important;
}

.supertaste-coupon .cta-wrap,
.supertaste-coupon .coupon-item-logo{
	line-height: 1!important;
}

.supertaste-coupon .splide__track,
.supertaste-coupon .coupon-list{
	height: 100%;
}

@media screen and (min-width: 769px) {
	.supertaste-coupon .coupon-item-wrap{
		display: flex;
		gap: 10px;
		position: absolute;
		top: 6%;
		left: 3%;
		right: 3%;
		bottom: 9%;
		z-index: 10;
	}
	.supertaste-coupon .cta-wrap .cta-title{
		display: none;
	}

	.supertaste-coupon .coupon-item-logo img{
		border-radius: 0 0 10px 10px;
	}
}

@media screen and (max-width: 768px) {
	.supertaste-coupon{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		z-index: 100000;
		height: auto;
	}

	.supertaste-coupon .coupon-item{
		display: block;
	}

	.supertaste-coupon .coupon-item-bg{
		display: none;
	}

	.supertaste-coupon .coupon-item-wrap{
		position: relative;
		display: grid;
		grid-template-areas: "img content content"
				"img cta cta";
		gap: 10px;
		background-color: #FFF;
		grid-auto-columns: 1fr;
		padding: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		box-shadow: 0 -3px 4px 0px #E1A67633;
	}

	.supertaste-coupon .coupon-item-img-wrap{
		grid-area: img;
		width: 100%;
		padding: 0;
	}

	.supertaste-coupon .coupon-item-content{
		grid-area: content;
	}

	.supertaste-coupon .coupon-item-wrap .coupon-item-cta{
		grid-area: cta;
		width: 100%;
	}

	.supertaste-coupon .coupon-item-content-wrap{
		display: flex;
		gap: 8px;
		align-items: center;
	}
	.supertaste-coupon .coupon-item-content-wrap .coupon-item-info,
	.supertaste-coupon .coupon-item-content-wrap .cta-title{
		display: none;
	}

	.supertaste-coupon .cta-wrap{
		display: grid;
		grid-template-areas: "img title" "img btn";
		text-align: left;
		grid-auto-columns: max-content;
		column-gap: 10px;
		background-color: #FFF8E7;
	}

	.supertaste-coupon .coupon-item-logo{
		grid-area: img;
		max-width: none;
	}
	.supertaste-coupon .cta-wrap .cta-title{
		grid-area: title;
	}
	.supertaste-coupon .cta-btn{
		grid-area: btn;
	}

	.supertaste-coupon .coupon-item-wrap .coupon-item-content, .supertaste-coupon .coupon-item-wrap .coupon-item-cta{
		padding: 0;
	}

	.supertaste-coupon .coupon-item-info-link,
	.supertaste-coupon .cta-btn a{
		margin-top: 0;
	}

	.supertaste-coupon .cta-btn a{
		background-color: #FFC338;
		padding: 0 10%;
		box-shadow: 0px 1.5px 7px -1.5px #E1A676;
	}
	.supertaste-coupon .coupon-item-img-wrap .coupon-item-img{
		border-radius: 5px;
		flex-grow: 1;
		padding-top: 90%;
	}
}
