.supertaste-coupon{
    height: 240px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.5;
}
.supertaste-coupon .coupon-list{
	position: relative;
}
.supertaste-coupon .coupon-item{
	display: flex;
	justify-content: center;
}
.supertaste-coupon .coupon-item-container{
	position: relative;
}
.supertaste-coupon .coupon-item-wrap{
	display: flex;
    gap: 10px;
    position: absolute;
    top: 9.5%;
    left: 3%;
    right: 3%;
    bottom: 12%;
    z-index: 10;
}
.supertaste-coupon .coupon-item-left{
	display: flex;
    gap: 10px;
    width: 61%;
    flex-shrink: 0;
	padding: 1%;
	align-items: center;
}
.supertaste-coupon .coupon-item-img-wrap{
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	width: 43%;
}
.supertaste-coupon .coupon-item-img-wrap .coupon-item-img{
    padding-top: 86%;
    background-position: center;
    background-size: cover;
}
.supertaste-coupon .coupon-item-wrap img{
	max-height: 100%;
}
.supertaste-coupon .coupon-item-wrap.no-img{
	align-items: center;
}
.supertaste-coupon .coupon-item-wrap .coupon-item-content,
.supertaste-coupon .coupon-item-wrap .coupon-item-cta{
	display: flex;
	align-items: center;
	flex-grow: 1;
}
.supertaste-coupon .cta-wrap{
	word-break: keep-all;
	text-align: center;
}
.supertaste-coupon .coupon-item-bg{
	height: 100%;
	position: relative;
	z-index: 0;
}

.supertaste-coupon .coupon-item-bg img{
	height: 240px;
	width: 100%;
	max-width: 905px;
}

.supertaste-coupon .coupon-item-title a{
	font-size: 18px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	line-height: 1.5;
}

.supertaste-coupon .coupon-item-info{
	color: #777;
	font-size: 14px;
	line-height: 1.5;
}

.supertaste-coupon .coupon-item-info-link a{
	color: #777;
	font-size: 12px;
	text-decoration: none;
	line-height: 1.5;
}

.supertaste-coupon .cta-title{
	font-size: 16px;
	color: #000;
	font-weight: bold;
	line-height: 1.5;
}

.supertaste-coupon .cta-info{
	font-size: 14px;
	color: #414141;
	line-height: 1.5;
}

.supertaste-coupon .cta-btn{
	display: inline-block;
	padding: 6px 15px;
	border-radius: 4px;
	background-color: #FFF;
	color: #000;
	font-size: 16px;
	text-decoration: none;
	box-shadow: 0 2px 12px -2px #E1A676;
	margin-top: 1em;
}
